<button class="add-block-btn" (click)="handleAddRectangle()">
  Add rectangle
</button>

<div #svgContainer class="svg-container">
  <svg class="dropzone" height="500px" width="100%">
    <ng-container *ngFor="let block of blocksList; let idx = index">
      <g
        *ngIf="block.id"
        #blockRef
        width="120"
        height="120"
        reactangle
        class="drag-drop-wrapper"
        [blockPosition]="block.position"
        (dragStarted)="handleSetPrevMoveArrowsList()"
        (dragEnded)="handleSaveBlcokNewCoordinates(idx, blockRef)"
        (dragMoved)="handleMoveBlock($event, idx)"
        (onDeleteBlock)="handleDeleteBlock(idx)"
        [id]="block.id"
      ></g>
    </ng-container>
    <g
      one-way-arrow
      *ngIf="isCreateArrowMode && currentNewArrow"
      [coordinates]="currentNewArrow.coordinates"
      [isTemproraryArrow]="true"
    ></g>
    <g
      one-way-arrow
      *ngFor="let arrow of arrowList | keyvalue"
      [coordinates]="arrow.value.coordinates"
      (onDeleteArrow)="handleDeleteArrow(arrow.key)"
    ></g>
  </svg>
</div>
