:host {
  position: absolute;

  .line {
    background-color: black;
    height: 2px;
    position: absolute;
  }

  .point {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
  }

  .a {
    left: 1500px;
    top: 100px;
  }

  /*end point*/
  .b {
    left: 200px;
    top: 200px;
  }
}
