Diagrams

<button (click)="handleAddBlock()">ADD BLOCK</button>

<section
  #mainZone
  class="diagrams-zone"
  (click)="handleActivateArrowMaker($event)"
>
  <ng-container
    *ngFor="let block of blocksList; let idx = index; trackBy: identify"
  >
    <div
      class="diagrams-zone__block"
      [class.active]="idx == currentChangingBlockIndex"
      cdkDragBoundary=".diagrams-zone"
      cdkDrag
      (cdkDragMoved)="test($event, idx)"
      (cdkDragStarted)="setPrevMoveArrowsList()"
    >
      <span
        appBackDrop
        (clickOutside)="cancelArrowCreate()"
        class="top-compound compound"
        (click)="addArrow('top', idx, $event)"
      ></span>
      <span
        appBackDrop
        (clickOutside)="cancelArrowCreate()"
        class="right-compound compound"
        (click)="addArrow('right', idx, $event)"
      ></span>
      <span
        appBackDrop
        (clickOutside)="cancelArrowCreate()"
        class="bottom-compound compound"
        (click)="addArrow('bottom', idx, $event)"
      ></span>
      <span
        appBackDrop
        (clickOutside)="cancelArrowCreate()"
        class="left-compound compound"
        (click)="addArrow('left', idx, $event)"
      ></span>

      <app-rectangular-block></app-rectangular-block>
    </div>

    <ng-container *ngFor="let arrow of arrowList | keyvalue">
      <app-arrow
        *ngIf="arrow.value"
        [coordinates]="arrow.value"
        class="arrow"
        [class]="arrow.key + '-arrow'"
      ></app-arrow>
    </ng-container>
  </ng-container>

  <app-arrow
    *ngIf="isCreateArrowMode && currentNewArrow"
    [coordinates]="currentNewArrow.coordinates"
    class="arrow"
    [class]="currentNewArrow.position + '-arrow'"
  ></app-arrow>
</section>
