.diagrams-zone {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  height: 600px;
  width: 600px;
  max-width: 100%;
  border: 2px solid blue;
  position: relative;

  &__block {
    width: 200px;
    height: 70px;
    border: solid 2px rgb(150, 146, 146);
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    position: absolute;
    z-index: 10;

    &:hover,
    &.active {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .compound {
      cursor: pointer;
      max-width: 16px;
      max-height: 16px;
      border: 1px solid black;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgb(140, 125, 219);
      position: absolute;
      z-index: 10;
      display: none;

      &.active {
        display: block;
      }

      &.top-compound {
        top: -8px;
        left: calc(50% - 8px);
      }
      &.right-compound {
        top: calc(50% - 8px);
        right: -9px;
      }
      &.bottom-compound {
        bottom: -7px;
        left: calc(50% - 8px);
      }
      &.left-compound {
        top: calc(50% - 8px);
        left: -9px;
      }
    }

    &:hover .compound {
      display: block;
    }

    &.active .compound {
      display: none;
    }
  }

  .arrow {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
